<!DOCTYPE html>
<html>
<title>KZure Web Services</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body  bgcolor="pink">
<form>
<button formaction="home.html" class="w3-button w3-green w3-large">HOME</button>
</form><br>

<div class="w3-container">

  <h1>WELCOME TO KZURE WEB SERVICES. WE PROVIDE SELF SERVICES AT ZERO COST.</h1>
<br><br>
<h2>ABOUT THE CREATORS</h2>
<p>Hola Amigos! I am Vedanto Bhata. I've been imported by @SinghHarvin as Data Scientist from CS/It Dept. <br>
Aloha! I'am Harvinder Singh, imported as DevOps/MLOps/Cloud Engineer from CS/IT Dept </p>
<br><br>

<h1>Step 2: Configure Instance Details</h1>
<form method="POST">
  <label  for="Network Name">Network Name:</label><br>
  	<input type="text" id="Network Name" name="Network Name"><br><br>
  <label  for="Subnet Name">Subnet Name:</label><br>
  	<input   type="text" id="Subnet Name" name="Subnet Name"><br><br>
  <label for="Instance Name">Instance Name:</label><br>
  	<input type="text" id="Instance Name" name="Instance Name"><br><br>
  
  <button formaction="config.html" class="w3-button w3-green w3-large">SUBMIT</button><br><br>
  <button formaction="Instance1.html" class="w3-button w3-green w3-large">BACK</button>
</form>

  
</div>         
</body>
</html>
