<!DOCTYPE html>
<html>
<title>KZure Web Services</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body  bgcolor="pink">
<form>
<button formaction="home.html" class="w3-button w3-green w3-large">HOME</button>
</form><br>

<div class="w3-container">

  <h1>WELCOME TO KZURE WEB SERVICES. WE PROVIDE SELF SERVICES AT ZERO COST.</h1>
<br><br>
<h2>ABOUT THE CREATORS</h2>
<p>Hola Amigos! I am Vedanto Bhata. I've been imported by @SinghHarvin as Data Scientist from CS/It Dept. <br>
Aloha! I'am Harvinder Singh, imported as DevOps/MLOps/Cloud Engineer from CS/IT Dept </p>
<br><br>
<h1>Step 1: Choose KZure Machine Image</h1>
<form>

 <h2>CentOS 7</h2> 
  <br><img src="static/CentOS7.jpg" width="128" height="128">
  <q>CentOS 7 (KVM), EBS General Purpose (SSD) Volume Type<br>
Root device type: ebs Virtualization type: kvm ENA Enabled: Yes</q><br><br>
  <button formaction="Instance2.html" class="w3-button w3-green w3-large">SELECT</button><br><br>
  <h2>CentOS 8</h2>  
  <img src="static/CentOS8.jpg" width="128" height="128">
  <q>CentOS 7 (KVM), EBS General Purpose (SSD) Volume Type<br>
Root device type: ebs Virtualization type: kvm ENA Enabled: Yes</q><br><br>
<button formaction="Instance2.html" class="w3-button w3-green w3-large">SELECT</button><br><br>
 <h2>OpenSuse</h2>  
  <img src="static/Suse.png"  width="128" height="128">
  <q>SUSE Linux (KVM), EBS General Purpose (SSD) Volume Type. Public Cloud, Advanced Systems Management, Web and Scripting, and Legacy modules enabled.<br>
Root device type: ebs Virtualization type: hvm ENA Enabled: Yes</q><br><br>
<button formaction="Instance2.html" class="w3-button w3-green w3-large">SELECT</button><br><br>
<h2>Ubuntu</h2>  
  <img src="static/Ubuntu.jpg" width="128" height="128">
  <q>Ubuntu Server 18.04 LTS (HVM),EBS General Purpose (SSD) Volume Type. Support available from Canonical (http://www.ubuntu.com/cloud/services).<br>
Root device type: ebs Virtualization type: hvm ENA Enabled: Yes</q><br><br>
<button formaction="Instance2.html" class="w3-button w3-green w3-large">SELECT</button><br><br>
<h2>Fedora</h2>  
  <img src="static/Fedora.jpg" width="128" height="128">
  <q>Fedora KMI Description<br>
Root device type: ebs Virtualization type: hvm ENA Enabled: Yes<q><br><br>
<button formaction="Instance2.html" class="w3-button w3-green w3-large">SELECT</button><br><br>
<h2>RHEL-8.2.0_HVM-20200423-x86_64-0-Hourly2-GP2 </h2>  
  <img src="static/RHEL8.png" width="128" height="128">
  <q>Provided by Red Hat, Inc.<br>
Root device type: ebs Virtualization type: hvm ENA Enabled: Yes</q><br><br>
<button formaction="Instance2.html" class="w3-button w3-green w3-large">SELECT</button><br><br>
<h2>windows 2019 Server</h2>  
  <img src="static/WS2019.png" width="128" height="128">
  <q>Microsoft Windows 2019 Datacenter edition, Microsoft SQL Server 2019 Standard. [English]<br>
Root device type: ebs Virtualization type: kvm ENA Enabled: Yes</q><br><br>
<button formaction="Instance2.html" class="w3-button w3-green w3-large">SELECT</button><br><br>
<h2>SUSE Linux Enterprise 12</h2>  
  <img src="static/OpensuseB.png" width="128" height="128">
  <q>SUSE Linux Enterprise Server 12 Service Pack 1 (KVM), EBS General Purpose (SSD) Volume Type. Public Cloud, Advanced Systems Management, Web and Scripting, and Legacy modules enabled.<br>
Root device type: ebs Virtualization type: hvm ENA Enabled: Yes</q><br><br>
<button formaction="Instance2.html" class="w3-button w3-green w3-large">SELECT</button><br><br>
</form>

  
</div>         
</body>
</html>
